.header {
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 30px);
    background-color: var(--xanhreu);
    display: flex;
    gap: 15px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header img {
    height: 35px;
    width: 35px;
    padding: 8px;
}

#ttg {
    background-color: rgb(192, 255, 246);
}

#tcc {
    background-color: rgb(255, 59, 134);
}

#tnn {
    background-color: rgb(65, 59, 255);
}