.tcc {
    position: relative;
    width: 100%;
}

.tcc section {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 10vh;
    width: 100%;
    height: 90vh;
}

.tcc h1 {
    font-size: 80px;
    text-align: center;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 10px #e60073, 0 0 20px #e60073, 0 0 30px #e60073, 0 0 40px #e60073;
}

.tcc h2 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 10px #e60073, 0 0 20px #e60073, 0 0 30px #e60073, 0 0 40px #e60073;
}

.tcc h3 {
    color: black;
    display: flex;
    font-size: 40px;
    width: 100%;
    height: 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.start {
    justify-content: center;
    align-items: center;
    color: white;
    background-color: gray;
}

.about-us {
    align-items: center;
    background-color: black;
    color: white;
}

@media screen and (max-width: 768px) {
    .tcc section {
        top: 8vh;
        height: 82.2vh;
    }

    .tcc h1 {
        font-size: 50px;
    }

    .tcc h2 {
        margin-top: 13px;
        font-size: 30px;
    }

    .tcc h3 {
        font-size: 25px;
    }
}