.tnn {
    position: relative;
    width: 100%;
}

.tnn h1 {
    font-size: 80px;
    text-align: center;
    font-weight: 700;
}

.tnn .start {
    justify-content: center;
    align-items: center;
    color: white;
    background-color: gray;
}

@media screen and (max-width: 768px) {
    .tnn h1 {
        font-size: 50px;
    }

    .tnn h2 {
        margin-top: 13px;
        font-size: 30px;
    }
}